src/vendor/
src/node_modules/
src/npm-debug.log

# Laravel 4 specific
src/bootstrap/compiled.php
src/app/storage/

# Laravel 5 & Lumen specific
src/bootstrap/cache/
src/storage
src/hot
src/storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
